.idea/inspectionProfiles/profiles_settings.xml
checkpoint.ipynb
.ipynb_checkpoints/blending & pasting Images-checkpoint.ipynb

.ipynb_checkpoints/image thresholding-checkpoint.ipynb
/DATA2/
/DATA2/Datasets/
